{
  "extends": "@folio/eslint-config-stripes",
  "plugins": [
    "import"
  ],
  "rules": {
    "curly": "off",
    "no-console": "off",
    "nonblock-statement-body-position": "off",
    "prefer-template": "off"
  }
}
