{
  extends: "airbnb-base",
  plugins: [
    "import"
  ],
  rules: {
    "no-console": "off",
    "curly": "off",
    "prefer-template": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"]
  }
}